<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Plant Disease App{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Plant Disease App</h1>
        <nav>
            <ul>
                <li><a href="{% url 'disease_category_list' %}">Disease Categories</a></li>
                <li><a href="{% url 'plant_part_list' %}">Plant Parts</a></li>
                <li><a href="{% url 'disease_list' %}">Diseases</a></li>
                <li><a href="{% url 'european_disease_list' %}">European Diseases</a></li>
                <li><a href="{% url 'plant_list' %}">Plants</a></li>
                <!-- Add more navigation links as needed -->
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>
        <p>&copy; 2024 Plant Disease App. All rights reserved.</p>
    </footer>
</body>
</html>
