<!-- myapp/templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Plantastic</title>
</head>
<body>
    <h1>Welcome to Plantastic</h1>
    <ul>
        <li><a href="/admin/">Admin</a></li>
        <li><a href="/accounts/">Accounts</a></li>
        <li><a href="/AI_tools/">AI Tools</a></li>
        <li><a href="/scientists/">Scientists</a></li>
        <li><a href="/plant_disease/">Plant Disease</a></li>
        <li><a href="/farmers/">Farmers</a></li>
    </ul>
</body>
</html>
