.plants-containers {
    display: flex;
    justify-content: space-between;
    margin: -350px 295px 0 295px;
}

.plant-container {
    width: 250px;
    height: 250px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    transition: transform 0.3s ease;
}

.plant-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

.plant-container span {
    font-family: 'Calibri', sans-serif;
    font-size: 14px;
    color: white;
    margin-bottom: -40px;
}

.plant-container:hover {
    transform: scale(1.1);
}
