<!-- templates/app_name/care_tip_list.html -->

{% extends 'app_name/base.html' %}

{% block title %}Care Tip List{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-10 offset-md-1">
        <h2>Care Tip List</h2>
        <ul class="list-group">
            {% for tip in care_tips %}
            <li class="list-group-item">
                <h4>{{ tip.crop }} - {{ tip.region }}</h4>
                <p>{{ tip.tip }}</p>
            </li>
            {% empty %}
            <li class="list-group-item">No care tips available.</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
