<!-- templates/app_name/forum_post_list.html -->

{% extends 'app_name/base.html' %}

{% block title %}Forum Post List{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-10 offset-md-1">
        <h2>Forum Post List</h2>
        <ul class="list-group">
            {% for post in forum_posts %}
            <li class="list-group-item">
                <h4>{{ post.title }}</h4>
                <p>{{ post.content }}</p>
                <small>Created by {{ post.user.username }}, {{ post.created_at }}</small>
            </li>
            {% empty %}
            <li class="list-group-item">No forum posts available.</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
